body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
}

video {
    background: black;
    object-fit: cover;
}

#l-video > * {
    max-width: 100%;
}

#r-video {
    overflow: hidden;
}

#r-video > * {
    width: 50%;
}

#r-video > *:only-child {
    width: 100%;
    height: 100%;
}
